Repository vandervdb/spotify-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, ktlint, eslint

lefthook.yml:

colors: true

pre-commit:
    parallel: true

    # ---- Spotless ----
    commands:
        spotless:
            run: ./scripts/spotless-pre-commit.sh
            glob: "*.{kt,kts}"

        # ---- Ktlint ----
        ktlint:
            glob: "*.kt"
            run: ./gradlew ktlintCheck -x spotlessKotlin -x spotlessKotlinGradle

        # ---- React Native (lint type checking) ----
        eslint:
            root: "react-native"
            glob: "*.{ts,tsx,js,jsx}"
            run: npm run lint --if-present


pre-push:
    parallel: false

    commands:
        # ---- Android Lint ----
        android_lint:
            run: ./gradlew lint

        # ---- Android Unit Tests ----
        android_tests:
            run: ./gradlew test

        # ---- React Native Tests (Jest) ----
        rn_tests:
            root: "react-native"
            run: npm test --if-present

        # ---- Build Verification ----
        android_build:
            run: ./gradlew assembleDebug


#commit-msg:
#    commands:
#        conventional:
#            run: |
#                echo "$1" | grep -E "^(feat|fix|chore|docs|refactor|style|test|perf)(\(.+\))?: .+" || {
#                  echo "‚ùå Commit message does not follow Conventional Commits"
#                  echo "üëâ Example: feat(player): improve play/pause UX"
#                  exit 1
#                }

Refactor react native example project dependencies and enhance module APIs and add tests for android-lib project
  android-lib/build.gradle.kts
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/remote/datasource/AuthRemoteDataSource.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/di/AuthRemoteDataSourceModule.kt
  android-lib/src/test/kotlin/com/vander/spotifyclient/domain/repository/FakeLibraryRepository.kt
  android-lib/src/test/kotlin/com/vander/spotifyclient/domain/usecase/PlayerUseCaseTest.kt
  apps/android-sample/build.gradle.kts
  apps/android-sample/proguard-rules.pro
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/ScaffoldWithBottomBar.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/navigation/AppNavHost.kt
  packages/core-logger/build.gradle.kts
Due: spotless, ktlint

Clean git commited files
  .gitignore
  android-lib/local.properties
  packages/core-dto-ts/src/index.d.ts
  packages/core-dto-ts/src/index.js
Due: none

Clean git commited files
  .gitignore
  android-lib/local.properties
Due: none

Disable AutoboxingStateCreation lint check and add Jest globals to test files
  apps/android-sample/build.gradle.kts
  packages/http-client-ts/jest.config.ts
  packages/http-client-ts/src/lib/apiFactory.spec.ts
  packages/http-client-ts/src/lib/useApiFactory.spec.ts
Due: spotless

Refactor Spotify client integration and enhance module functionality
  android-lib/src/main/AndroidManifest.xml
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridge.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridgeApi.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/di/SpotifyEntryPoint.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/util/ActivityResultFactory.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/util/ActivityResultHolderFragment.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/remote/datasource/AuthRemoteDataSource.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/session/SpotifySessionManagerImpl.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/utils/Constants.kt
  packages/core-constants-ts/src/lib/spotify.constants.ts
  packages/core-logger/src/main/kotlin/org/vander/core/logger/KermitLoggerImpl.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/MainActivity.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/MainApplication.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/NativeSpotifyClientModule.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/NativeSpotifyClientPackage.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/helper/RnMapHelper.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/mapper/JsonMappers.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/mapper/ReadableMapMapper.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/mapper/WritableMapMapper.kt
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/index.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifySession.ts
  rn-modules/RnModuleSpotifyClient/src/index.ts
  rn-modules/RnModuleSpotifyClient/src/utils/index.ts
  rn-modules/RnModuleSpotifyClient/src/utils/withCatch.ts
Due: spotless, ktlint

Fix PlayerUseCase initialization with satrtUp() call Refactor `useSpotifyPlayer` hook and enhance logging across Spotify integration
  .gitattributes
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridge.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/di/SpotifyEntryPoint.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/local/DataStoreManager.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/remote/datasource/RemoteLibraryDataSource.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/repository/AuthRepository.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/repository/SpotifyUserRepository.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/session/SpotifySessionManagerImpl.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/di/AuthProvidesModule.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/di/LocalModule.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/domain/usecase/PlayerUseCase.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/domain/usecase/PlaylistUseCase.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/domain/usecase/SpotifyRemoteUseCaseImpl.kt
  build.gradle.kts
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/NativeSpotifyClientModule.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/mapper/ReadableMapMapper.kt
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/mapper/WritableMapMapper.kt
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/index.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifySession.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useStyle.ts
Due: spotless, ktlint

Refactor Spotify module hooks and specs
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/specs/index.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifySession.ts
  rn-modules/RnModuleSpotifyClient/src/utils/EventEmitterModule.ts
  rn-modules/RnModuleSpotifyClient/src/utils/index.ts
Due: none

Add MiniPlayer component and update dependencies
  rn-modules/RnModuleSpotifyClient/package.json
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerContent.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  yarn.lock
Due: none

Fix playerState update and propagation to UI. Refactor `useSpotifyPlayer` and clean up player state management
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/utils/index.ts
  rn-modules/RnModuleSpotifyClient/src/utils/playerMapper.ts
Due: none

Update dependencies and clean up MiniPlayer component
  rn-modules/RnModuleSpotifyClient/package.json
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/utils/constants.ts
  yarn.lock
Due: none

Add advanced queue management and update MiniPlayer architecture
  rn-modules/RnModuleSpotifyClient/package.json
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerConnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerDisconnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerTrack.tsx
  rn-modules/RnModuleSpotifyClient/src/components/ScrollingText.tsx
  rn-modules/RnModuleSpotifyClient/src/components/SpotifyTrackCover.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksComponent.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/types/PlayerTypes.ts
  rn-modules/RnModuleSpotifyClient/src/types/index.ts
  yarn.lock
Due: none

Update MiniPlayer content, enhance track navigation, and refactor Spotify integration
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerConnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerTrack.tsx
  rn-modules/RnModuleSpotifyClient/src/components/SpotifyTrackCover.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksComponent.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksList.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/types/PlayerTypes.ts
  rn-modules/RnModuleSpotifyClient/src/utils/playerMapper.ts
Due: none

Introduce Prettier integration and optimize code style maintenance
  .prettierrc
  lefthook.yml
  package.json
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerConnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerDisconnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerTrack.tsx
  rn-modules/RnModuleSpotifyClient/src/components/ScrollingText.tsx
  rn-modules/RnModuleSpotifyClient/src/components/SpotifyTrackCover.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksList.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifySession.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useStyle.ts
  rn-modules/RnModuleSpotifyClient/src/types/PlayerTypes.ts
  rn-modules/RnModuleSpotifyClient/src/types/index.ts
  rn-modules/RnModuleSpotifyClient/src/utils/EventEmitterModule.ts
  rn-modules/RnModuleSpotifyClient/src/utils/constants.ts
  rn-modules/RnModuleSpotifyClient/src/utils/playerMapper.ts
  rn-modules/RnModuleSpotifyClient/src/utils/withCatch.ts
  scripts/prettier-pre-commit.sh
  yarn.lock
Due: none

Add `getAuthToken` functionality to Spotify module and refactor authentication handling
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridge.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridgeApi.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/di/SpotifyEntryPoint.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/repository/AuthRepository.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/model/api/SpotifyService.kt
  lefthook.yml
  rn-modules/RnModuleSpotifyClient/android/app/src/main/kotlin/org/rnmodulespotifyclient/bridge/NativeSpotifyClientModule.kt
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifySession.ts
Due: spotless, ktlint

Add color-coded output and improved error handling to pre-commit scripts
  lefthook.yml
  scripts/prettier-pre-commit.sh
  scripts/spotless-pre-commit.sh
Due: none

Feature: Click on progress to update onseek regarding click position on progress
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerConnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerDisconnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerTrack.tsx
  rn-modules/RnModuleSpotifyClient/src/components/ScrollingText.tsx
  rn-modules/RnModuleSpotifyClient/src/components/SpotifyTrackCover.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TrackProgress.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksList.tsx
  rn-modules/RnModuleSpotifyClient/src/theme/index.ts
  rn-modules/RnModuleSpotifyClient/src/types/playerTypes.ts
Due: none

DOCUMENT: Lefthook configuration and pre-commit/pre-push quality gates in README
  README.md
Due: none

ARCH: Move shared TypeScript ambient types to a centralized `types/` folder
  README.md
  apps/RnSample/README.md
  apps/RnSample/tsconfig.json
  rn-modules/RnModuleSpotifyClient/README.md
  rn-modules/RnModuleSpotifyClient/tsconfig.json
  types/svg.d.ts
Due: none

DOCUMENT: Revamp `rn-lib` README with detailed usage, development, and architecture overview
  rn-lib/README.md
Due: none

INIT: Add error handling, fallback components, and refactor module initialization logic
  apps/RnSample/index.js
  apps/RnSample/package.json
  apps/RnSample/src/app/DefaultApp.tsx
  apps/RnSample/src/navigation/AppContainer.tsx
  rn-lib/src/lib/auth/store.ts
  rn-lib/src/lib/playing/store.ts
  yarn.lock
Due: none

Fix onSeek Refactor: Standardize `positionMs` type, improve `seek` function, and streamline hooks/components APIs
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerConnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TrackProgress.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksList.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
Due: none

REFACTOR: Optimize hooks, clean APIs, and enhance Spotify client components
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/assets/icons/SpotifyLogo.svg
  rn-modules/RnModuleSpotifyClient/src/assets/icons/index.ts
  rn-modules/RnModuleSpotifyClient/src/components/HeaderCard.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayer.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerConnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerDisconnected.tsx
  rn-modules/RnModuleSpotifyClient/src/components/MiniPlayerTrack.tsx
  rn-modules/RnModuleSpotifyClient/src/components/ScrollingText.tsx
  rn-modules/RnModuleSpotifyClient/src/components/SpotifyTrackCover.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TrackProgress.tsx
  rn-modules/RnModuleSpotifyClient/src/components/TracksList.tsx
  rn-modules/RnModuleSpotifyClient/src/components/index.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyPlayer.ts
  rn-modules/RnModuleSpotifyClient/src/theme/index.ts
Due: none

Add `ByVander` SVG component and integrate into `HeaderCard` layout
  gradle.properties
  rn-modules/RnModuleSpotifyClient/src/assets/icons/SpotifyLogo.svg
  rn-modules/RnModuleSpotifyClient/src/assets/icons/byVander.svg
  rn-modules/RnModuleSpotifyClient/src/assets/icons/index.ts
  rn-modules/RnModuleSpotifyClient/src/components/HeaderCard.tsx
Due: none

Refactor authentication flow to integrate `rn-module-spotify-client` and enhance API handling
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/BridgeModels.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridge.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/bridge/SpotifyBridgeApi.kt
  build.gradle.kts
  lefthook.yml
  packages/typescript/core-domain/src/lib/auth/AuthClient.ts
  rn-lib/package.json
  rn-lib/src/lib/auth/client.ts
  rn-lib/src/lib/auth/utils/spotifyAuthUrl.ts
  settings.gradle.kts
  yarn.lock
Due: spotless, ktlint

Add core-security module and refactor authentication flow
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/local/DataStoreManager.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/remote/datasource/AuthRemoteDataSource.kt
  android-lib/src/main/kotlin/org/vander/spotifyclient/domain/auth/IDataStoreManager.kt
  build.gradle.kts
  gradle/libs.versions.toml
  packages/android/core-security/.gitignore
  packages/android/core-security/README.md
  packages/android/core-security/build.gradle.kts
  packages/android/core-security/consumer-rules.pro
  packages/android/core-security/src/main/kotlin/org/vander/core/security/api/CryptoEngine.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/api/KeyRotationManager.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/api/KeysetRepository.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/api/SecureTokenStorage.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/di/SecurityModule.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/impl/tink/TinkCryptoEngine.kt
  packages/typescript/core-domain/src/index.ts
  packages/typescript/core-domain/src/lib/auth/AuthClient.ts
  packages/typescript/core-domain/src/lib/auth/AuthResult.ts
  rn-lib/src/lib/auth/client.ts
  rn-modules/RnModuleSpotifyClient/specs/NativeSpotifyClientModule.ts
  rn-modules/RnModuleSpotifyClient/specs/index.ts
  rn-modules/RnModuleSpotifyClient/src/App.tsx
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifyModule.ts
  rn-modules/RnModuleSpotifyClient/src/hooks/useSpotifySession.ts
  settings.gradle.kts
Due: spotless, ktlint

chore: add repo-specific Claude Code rules and Serena onboarding
  .claude/rules/architecture.md
  .claude/rules/kotlin.md
  .claude/rules/testing.md
  .claude/rules/typescript.md
  .claude/rules/ui.md
  .claude/settings.json
  .serena/.gitignore
  .serena/memories/android/core.md
  .serena/memories/conventions.md
  .serena/memories/core.md
  .serena/memories/memory_maintenance.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/memories/tech_stack.md
  .serena/memories/typescript/core.md
  .serena/project.yml
Due: none

fix: correct MiniPlayer skip commands and playlist grid image loading
  android-lib/src/main/kotlin/org/vander/spotifyclient/data/player/SpotifyPlayerClient.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/MiniPlayer.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/PlayListComponent.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/ScaffoldWithBottomBar.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/SpotifyTrackCover.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/preview/PreviewPlaylistComponent.kt
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/screen/SpotifyScreen.kt
Due: spotless, ktlint

docs: rewrite CLAUDE.md for this repo and document MarqueeTextInfinite
  CLAUDE.md
  apps/android-sample/src/main/kotlin/org/vander/android/sample/ui/components/MarqueeTextInfinite.kt
Due: spotless, ktlint

docs: require opening modified Android files in Android Studio for review
  CLAUDE.md
Due: none

feat(core-security): implement KeysetRepository, TinkKeysetHandleProvider and TinkCryptoEngine (TDD)
  packages/android/core-security/build.gradle.kts
  packages/android/core-security/src/main/kotlin/org/vander/core/security/api/KeysetRepository.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/impl/storage/DataStoreKeysetRepository.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/impl/tink/TinkCryptoEngine.kt
  packages/android/core-security/src/main/kotlin/org/vander/core/security/impl/tink/TinkKeysetHandleProvider.kt
  packages/android/core-security/src/test/kotlin/org/vander/core/security/impl/storage/DataStoreKeysetRepositoryTest.kt
  packages/android/core-security/src/test/kotlin/org/vander/core/security/impl/tink/FakeKeysetRepository.kt
  packages/android/core-security/src/test/kotlin/org/vander/core/security/impl/tink/TinkCryptoEngineTest.kt
  packages/android/core-security/src/test/kotlin/org/vander/core/security/impl/tink/TinkKeysetHandleProviderTest.kt
Due: spotless, ktlint
